<div class="site-slideshow-container">
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <div class="mySlides ">
        <div class="numbertext">1 / 3</div>
        <img style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">2 / 3</div>
        <img style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">3 / 3</div>
        <img style="width:100%">
      </div>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>
