---
---

@import "minima";
.artwork-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.artwork-card {
    width: 300px; /* Adjust as needed */
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.artwork-image img {
    width: 100%;
    height: 200px; /* Adjust as needed */
    object-fit: cover;
}

.artwork-info {
    padding: 10px;
}

.artwork-title {
    font-size: 20px;
    margin: 0;
}

.artwork-date {
    color: #888;
    font-size: 14px;
}

.site-header-addition{
    border-top:0px solid white ;
}