--- 

--- 
@import "minima", '_project', '_widgetClock', '_showSlide';

$full-screen-x: 100vw;

html {
  height: 100%;
}

body {
  justify-content: space-between;
  height: 100%;
  overflow-x: hidden;
}

.footer-col {
  margin-bottom: 0px;
}

.home {
  flex: 2;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.paginator-next,
.paginator-next {
  margin: 0px;
}

.post-list>li,
.post,
.pagination {
  background-color: white;
  border-radius: 10px 5px 5px 10px;
  border: 0px solid;
  box-shadow: 1px 2px #6969693f;
  opacity: 0.75;
  padding: 10px 20px;
  max-width: 90%;
  max-width: 70vw;
  margin: 2% auto;
}

.svg-icon {
  padding-right: 0px;
}

@media screen and (max-width: 600px) {
  .site-background {
    --imgAddress: url(img/wallpaper_1.png);
  }
}

@media screen and (min-width: 600px) {
  .site-background {
    --imgAddress: url(img/wallpaper.png);
  }
}

.site-background {
  --transparent: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
  background-attachment: fixed;
  background-image: cross-fade(var(--transparent), var(--imgAddress), 40%);
  background-image: -webkit-cross-fade(var(--transparent), var(--imgAddress), 40%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: $full-screen-x;
  height: 100vh;
  position: fixed;
  top: 0;
  --blur: blur(2px);
  filter: var(--blur);
  z-index: -1;
}

.site-content {
  height: auto;
  width: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-header-addition {
  border-top: 0px solid white;
  background-color: white;
}

.site-footer-addition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}

.site-footer-addition > .wrapper{
  margin: 0px;
}

.footer-heading {
  margin-bottom: 0px;
}

@media screen and (min-width:600px) {
  .site-side {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    flex: 1;
    max-width: 100%;
  }

}

.site-side-left {
  align-items: flex-start;
}

.site-side-right {
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  .site-side>div {
    display: none;
  }
}

.site-side>div {
  max-width: 70%;
  margin: 10px 0px;
  padding: 10px;
  border: 0.05px solid #717171;
}

.site-side-widget {
  text-shadow: 1px 0px #717171;
  animation: maskedAnimation 4s infinite linear;
}

.site-side-widget > li{
  list-style-type: none;
}

.site-side-widget > li:first-of-type > div > div{
    flex-direction: row;
    display: flex;
}

.site-side-widget > li:first-of-type > div > div > img{
  max-width: 50%;
}

@keyframes maskedAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

.site-nav {
  z-index: 1;
}

/* Slideshow container */
.site-slideshow-container {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: 0px 0px 5% 0px;
  border-radius: 10px;
  overflow: hidden;
}

.site-slideshow-container>div:last-child {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.wrapper-addition {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .wrapper-addition {
    max-width: 80%;
    justify-content: center;
  }
}

.footer-col-wrapper{
  display:flex;
  justify-content: space-around;
}

.wrapper:after, .footer-col-wrapper:after{
  content: none;
}

.footer-col-wrapper{
  margin-left: 0;
}