<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="site-background"></div>
    <div class="site-content">
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper wrapper-addition">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </div>
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/click.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/clock.js" | relative_url }}"></script>
  </body>

</html>